
body {
    background-color: white;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: rgb(230, 210, 210);
}

.btn-primary {
    background-color: #28a745; /* Updated color */
    border-color: #28a745;
    padding: 10px;
    margin: 10px;
}

.btn-primary:hover {
    background-color: #218838; /* Darker shade for hover */
}

.modal-content {
    border-radius: 10px;
}

.modal-header {
    background-color: #28a745; /* Updated color */
    color: white;
}

.modal-footer .btn {
    border-radius: 5px;
}

.logo {
    display: block;
    margin: 0 auto;
    max-width: 200px;
    height: 60px;
}
