LIVE=true
MONGO_URI_LIVE=mongodb://127.0.0.1:27017
MONGO_URI_DEV=mongodb+srv://piumal0713:Adyp%400713@cluster0.8bv15.mongodb.net
OAUTH_USERINFO_ENDPOINT=https://accounts.go.digitable.io/userinfo
APP_FQDN=localhost
CERT_PATH=